.container {
    width: 100%;
}
.user__top {
    width: 90%;
    display: flex;
    border: 2px solid #dbdde5;
    margin: 0 auto;
    box-sizing: border-box;
}
.user__top_info {
    width: 50%;
    text-align: center;
}
.user__top_info:nth-child(1){
    border-right: 2px solid #dbdde5;
}
.user__bottom {
    width: 90%;
    display: flex;
    border: 2px  solid #dbdde5;
    border-top: none;
    margin: 0 auto;
    box-sizing: border-box;
}
.user__bottom_ul {
    width: 33%;
}
.posts {
    width: 90%;
    border: 2px  solid #dbdde5;
    border-top: none;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}
.user__button {
    width: 18%;
    margin: 10px 0 10px 10px;
}
.post__title {
    width: 100%;
    display: none;
    flex-wrap: wrap;
}
.post__title_open {
    display: flex;
}
.post__title_card {
    width: 20%;
    border-bottom: 2px  solid #dbdde5;
    border-left: 2px  solid #dbdde5;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -2px;
}
.post__title a {
    width: 78px;
    background: #dbdde5;
    padding: 5px;
    border-radius: 6px;
    text-decoration: none;
}